In [10]:
import configProj1
import mysql.connector
import pandas as pd
import re

In [5]:
# connect to DB

cnx = mysql.connector.connect(
    host = configProj1.host,
    user = configProj1.user,
    passwd = configProj1.password,
    database = 'Movies'
)

cursor = cnx.cursor()

In [6]:

query = ('''
        SELECT movie_name, release_year, director, imdb_rating, box_office 
        FROM OMDb_Top_250_and_Low_100
        ''')

cursor.execute(query)

# looping over the cursor to retrieve information gathered from SELECT statement
# for (first_name, last_name, hire_date) in cursor:
#   print("{}, {} was hired on {:%d %b %Y}".format(
#     last_name, first_name, hire_date))

# cursor.close()
# cnx.close()

ProgrammingError: 1146 (42S02): Table 'Movies.OMDb_Top_250_and_Low_100' doesn't exist

In [ ]:
director_db = cursor.fetchall()

In [ ]:
director_df = pd.DataFrame(director_db)

### Using .split( ) and .strip( ) methods to separate comma-separated string elements, and then eliminate white space

In [30]:
x = 'Martin Scorcese, Guillermo del Toro, Tim Robbins, Christopher Nolan '

In [31]:
y = x.split(',')
y

['Martin Scorcese',
 ' Guillermo del Toro',
 ' Tim Robbins',
 ' Christopher Nolan ']

In [39]:
list((y[i].strip() for i in range(0,len(y))))

['Martin Scorcese', 'Guillermo del Toro', 'Tim Robbins', 'Christopher Nolan']

In [33]:
len(y)

4